extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Status
            th Actions
        
        tbody
          each beer in beers
            tr
              td
                a(href=`/beers/${beer.id}`)= beer.title
              td= beer.status
              td
                a(href=`/beers/${beer.id}/edit`) edit
                = ' | '
                form.destroy(action=`/beers/destroy`, method="POST", onsubmit=`return confirm("Are you sure you want to permently delete this beer from list?")`)
                  input(type="hidden", name="id", value=beer.id)
                  input(type="submit", value="delete")